bin/Debug/osu!BMAPI.dll
bin/Debug/osu!BMAPI.pdb
bin/Debug/osu!BMAPI.vshost.exe
bin/Debug/osu!BMAPI.vshost.exe.manifest
obj/Debug/DesignTimeResolveAssemblyReferences.cache
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/osu!BMAPI.csproj.FileListAbsolute.txt
obj/Debug/osu!BMAPI.csprojResolveAssemblyReference.cache
obj/Debug/osu!BMAPI.dll
obj/Debug/osu!BMAPI.pdb
obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
